@model IEnumerable<LoaiHang>
<ul>
	@* Thay đổi tên cho menu Home được thay thế bằng họ tên sinh *@
	<li class="active"><a id=" null" href="#">Vũ Bảo Lâm</a></li>
	@foreach (var item in Model)
	{
		<li><a href="#" id="@item.MaLoai">@item.TenLoai</a></li>  @*  Load tên các loại hàng mã hàng *@
	}
	<div class="clear"></div>
</ul>

