CREATE DATABASE QLNhanVien
USE [QLNhanVien]
GO
/****** Object:  Table [dbo].[tChiTietNhanVien]    Script Date: 03-Oct-22 11:07:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietNhanVien](
	[MaNV] [nvarchar](3) NOT NULL,
	[ChucVu] [nvarchar](3) NULL,
	[HSLuong] [tinyint] NULL,
	[MucDoCV] [nvarchar](2) NULL,
	[GTGC] [tinyint] NULL,
 CONSTRAINT [PK_tChiTietNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNhanVien]    Script Date: 03-Oct-22 11:07:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[MaNV] [nvarchar](3) NOT NULL,
	[HO] [nvarchar](15) NULL,
	[TEN] [nvarchar](7) NULL,
	[PHAI] [bit] NOT NULL,
	[NTNS] [datetime] NULL,
	[NgayBD] [datetime] NULL,
	[MaPB] [nvarchar](2) NULL,
	[HINH] [image] NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_tNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPhongBan]    Script Date: 03-Oct-22 11:07:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhongBan](
	[MaPB] [nvarchar](2) NOT NULL,
	[TENPB] [nvarchar](30) NULL,
	[TruongPhong] [nvarchar](3) NULL,
 CONSTRAINT [PK_tPhongBan] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tChiTietNhanVien] ([MaNV], [ChucVu], [HSLuong], [MucDoCV], [GTGC]) VALUES (N'001', N'NV', 4, N'C1', 1)
INSERT [dbo].[tChiTietNhanVien] ([MaNV], [ChucVu], [HSLuong], [MucDoCV], [GTGC]) VALUES (N'002', N'NV', 5, N'C3', NULL)
INSERT [dbo].[tChiTietNhanVien] ([MaNV], [ChucVu], [HSLuong], [MucDoCV], [GTGC]) VALUES (N'003', N'NV', 3, N'C2', 2)
GO
INSERT [dbo].[tNhanVien] ([MaNV], [HO], [TEN], [PHAI], [NTNS], [NgayBD], [MaPB], [HINH], [GHICHU]) VALUES (N'001', N'Lại Văn', N'Sâm', 0, CAST(N'1966-01-01T00:00:00.000' AS DateTime), CAST(N'1990-04-30T00:00:00.000' AS DateTime), N'VP', NULL, N'Nam nhan vien khoe manh, tre trung, co trinh do; Tot nghiep dai hoc loai uu; Nhanh nhen, hoat bat')
INSERT [dbo].[tNhanVien] ([MaNV], [HO], [TEN], [PHAI], [NTNS], [NgayBD], [MaPB], [HINH], [GHICHU]) VALUES (N'002', N'Trần Văn', N'Minh', 0, CAST(N'1965-02-23T00:00:00.000' AS DateTime), CAST(N'1990-05-10T00:00:00.000' AS DateTime), N'VP', NULL, NULL)
INSERT [dbo].[tNhanVien] ([MaNV], [HO], [TEN], [PHAI], [NTNS], [NgayBD], [MaPB], [HINH], [GHICHU]) VALUES (N'003', N'Tống Cảnh', N'Sơn', 0, CAST(N'1963-04-12T00:00:00.000' AS DateTime), CAST(N'1996-10-24T00:00:00.000' AS DateTime), N'TK', NULL, NULL)
GO
INSERT [dbo].[tPhongBan] ([MaPB], [TENPB], [TruongPhong]) VALUES (N'KH', N'Phòng Kinh tế Kế hoạch', N'022')
INSERT [dbo].[tPhongBan] ([MaPB], [TENPB], [TruongPhong]) VALUES (N'KT', N'Phòng Kế toán Tài chánh', N'011')
INSERT [dbo].[tPhongBan] ([MaPB], [TENPB], [TruongPhong]) VALUES (N'TC', N'Phòng Tổ chức Nhân sự', N'029')
GO
ALTER TABLE [dbo].[tChiTietNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietNhanVien_tNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tChiTietNhanVien] CHECK CONSTRAINT [FK_tChiTietNhanVien_tNhanVien]
GO
ALTER TABLE [dbo].[tNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tNhanVien_tPhongBan1] FOREIGN KEY([MaPB])
REFERENCES [dbo].[tPhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[tNhanVien] CHECK CONSTRAINT [FK_tNhanVien_tPhongBan1]
GO
